<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Tipo </label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Tipo de comida diaria</label>
            <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>Desayuno</option>
                <option>Almuerzo</option>
                <option>Merienda</option>
                <option>Cena</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="inputEmail4">Comida Principal </label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="">
        </div>

        <div class="form-group col-md-6">
            <label for="inputEmail4">Comida Secundaria </label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="">
        </div>

        <div class="form-group col-md-6">
            <label for="inputEmail4">Bebida </label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="">
        </div>

    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Check me out
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>